html, body {
    margin: 20px;
    padding: 0;
    background: linear-gradient(to right, gray, rgb(227, 114, 216), rgb(70, 74, 191), rgb(37, 107, 100), purple);
    font-family: 'Trebuchet MS';
  }
  h1{
   font-weight: bold;
   text-align: center;
   border: 1px solid;
   border-color: purple green blue purple;
   padding: 40px 20px;
   border-radius: 10px;
   color: rgb(11, 40, 40);
  }

  h1:hover{
    width: 600px;
  }
  
  h2{
    font-weight:bold;
    text-align: center;
    text-shadow: 5px 5px rgb(142, 135, 209);
  }
  h2:hover{
    transform: scale(2);
    width: 500px
  }
  
  img:hover {
    animation: spin 2s linear infinite;
   }
  h3{
    font-weight:bold;
    text-align: center;
    text-shadow: 5px 5px rgb(142, 135, 209);
  }

  #othereternalthings{
    display: flex;
    background-color: rgb(232, 48, 170);

  }
 
  
  .container {
    background: red;
  }


  canvas {
    display: block;
  }
  
  
 



